body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    float:left;

}
header {
    background-color: #385bce;
    color: #fff;
    padding: 40px;
    text-align: center;

}


nav {
    background-color: #4f81c2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    padding: 20px;
    text-align: center;
}

article {
    margin-bottom: 20px;
}


aside {
    background-color: #f4f4f4;
    padding: 20px;
}


footer {
    background-color: #3b6ac0;
    color: #fff;
    padding: 10px;
    text-align: center;
}